<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="question_types">
            <h2><span jhiTranslate="examappApp.question_types.detail.title">Question Types</span> {{question_types.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="examappApp.question_types.type_code">Type Code</span></dt>
                <dd>
                    <span>{{question_types.type_code}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.question_types.type_name">Type Name</span></dt>
                <dd>
                    <span>{{question_types.type_name}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.question_types.status">Status</span></dt>
                <dd>
                    <span>{{question_types.status}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.question_types.creation_date">Creation Date</span></dt>
                <dd>
                    <span>{{question_types.creation_date}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.question_types.created_by">Created By</span></dt>
                <dd>
                    <span>{{question_types.created_by}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.question_types.last_update_date">Last Update Date</span></dt>
                <dd>
                    <span>{{question_types.last_update_date}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.question_types.last_updated_by">Last Updated By</span></dt>
                <dd>
                    <span>{{question_types.last_updated_by}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/question-types', question_types.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
