<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-question-types-heading" jhiTranslate="examappApp.question_types.home.createOrEditLabel">Create or edit a Question Types</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!question_types.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="question_types.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.question_types.type_code" for="field_type_code">Type Code</label>
                    <input type="text" class="form-control" name="type_code" id="field_type_code"
                        [(ngModel)]="question_types.type_code" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.question_types.type_name" for="field_type_name">Type Name</label>
                    <input type="text" class="form-control" name="type_name" id="field_type_name"
                        [(ngModel)]="question_types.type_name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.question_types.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                        [(ngModel)]="question_types.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.question_types.creation_date" for="field_creation_date">Creation Date</label>
                    <div class="input-group">
                        <input id="field_creation_date" type="text" class="form-control" name="creation_date" ngbDatepicker  #creation_dateDp="ngbDatepicker" [(ngModel)]="question_types.creation_date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creation_dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.question_types.created_by" for="field_created_by">Created By</label>
                    <input type="text" class="form-control" name="created_by" id="field_created_by"
                        [(ngModel)]="question_types.created_by" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.question_types.last_update_date" for="field_last_update_date">Last Update Date</label>
                    <div class="input-group">
                        <input id="field_last_update_date" type="text" class="form-control" name="last_update_date" ngbDatepicker  #last_update_dateDp="ngbDatepicker" [(ngModel)]="question_types.last_update_date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="last_update_dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.question_types.last_updated_by" for="field_last_updated_by">Last Updated By</label>
                    <input type="text" class="form-control" name="last_updated_by" id="field_last_updated_by"
                        [(ngModel)]="question_types.last_updated_by" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
