<div>
    <h2 id="page-heading">
        <span jhiTranslate="examappApp.question_types.home.title">Question Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-question-types" [routerLink]="['/question-types/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="examappApp.question_types.home.createLabel">
            Create new Question Types
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="question_types">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="examappApp.question_types.type_code">Type Code</span></th>
            <th><span jhiTranslate="examappApp.question_types.type_name">Type Name</span></th>
            <th><span jhiTranslate="examappApp.question_types.status">Status</span></th>
            <th><span jhiTranslate="examappApp.question_types.creation_date">Creation Date</span></th>
            <th><span jhiTranslate="examappApp.question_types.created_by">Created By</span></th>
            <th><span jhiTranslate="examappApp.question_types.last_update_date">Last Update Date</span></th>
            <th><span jhiTranslate="examappApp.question_types.last_updated_by">Last Updated By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let question_types of question_types ;trackBy: trackId">
                <td><a [routerLink]="['/question-types', question_types.id, 'view' ]">{{question_types.id}}</a></td>
                <td>{{question_types.type_code}}</td>
                <td>{{question_types.type_name}}</td>
                <td>{{question_types.status}}</td>
                <td>{{question_types.creation_date | date:'mediumDate'}}</td>
                <td>{{question_types.created_by}}</td>
                <td>{{question_types.last_update_date | date:'mediumDate'}}</td>
                <td>{{question_types.last_updated_by}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/question-types', question_types.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/question-types', question_types.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'question-types', { outlets: { popup: question_types.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
