<div>
    <h2 id="page-heading">
        <span jhiTranslate="examappApp.answers.home.title">Answers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-answers" [routerLink]="['/answers/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="examappApp.answers.home.createLabel">
            Create new Answers
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="answers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="examappApp.answers.answer">Answer</span></th>
            <th><span jhiTranslate="examappApp.answers.answered_date">Answered Date</span></th>
            <th><span jhiTranslate="examappApp.answers.end_time">End Time</span></th>
            <th><span jhiTranslate="examappApp.answers.start_time">Start Time</span></th>
            <th><span jhiTranslate="examappApp.answers.creation_date">Creation Date</span></th>
            <th><span jhiTranslate="examappApp.answers.created_by">Created By</span></th>
            <th><span jhiTranslate="examappApp.answers.last_update_date">Last Update Date</span></th>
            <th><span jhiTranslate="examappApp.answers.last_updated_by">Last Updated By</span></th>
            <th><span jhiTranslate="examappApp.answers.question_id">Question Id</span></th>
            <th><span jhiTranslate="examappApp.answers.studentid">Studentid</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let answers of answers ;trackBy: trackId">
                <td><a [routerLink]="['/answers', answers.id, 'view' ]">{{answers.id}}</a></td>
                <td>{{answers.answer}}</td>
                <td>{{answers.answered_date | date:'mediumDate'}}</td>
                <td>{{answers.end_time | date:'mediumDate'}}</td>
                <td>{{answers.start_time | date:'mediumDate'}}</td>
                <td>{{answers.creation_date | date:'mediumDate'}}</td>
                <td>{{answers.created_by}}</td>
                <td>{{answers.last_update_date | date:'mediumDate'}}</td>
                <td>{{answers.last_updated_by | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="answers.question_idId">
                        <a [routerLink]="['../questions', answers.question_idId , 'view' ]" >{{answers.question_idId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="answers.studentidId">
                        <a [routerLink]="['../students', answers.studentidId , 'view' ]" >{{answers.studentidId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/answers', answers.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/answers', answers.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'answers', { outlets: { popup: answers.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
