<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="answers">
            <h2><span jhiTranslate="examappApp.answers.detail.title">Answers</span> {{answers.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="examappApp.answers.answer">Answer</span></dt>
                <dd>
                    <span>{{answers.answer}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.answers.answered_date">Answered Date</span></dt>
                <dd>
                    <span>{{answers.answered_date}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.answers.end_time">End Time</span></dt>
                <dd>
                    <span>{{answers.end_time}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.answers.start_time">Start Time</span></dt>
                <dd>
                    <span>{{answers.start_time}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.answers.creation_date">Creation Date</span></dt>
                <dd>
                    <span>{{answers.creation_date}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.answers.created_by">Created By</span></dt>
                <dd>
                    <span>{{answers.created_by}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.answers.last_update_date">Last Update Date</span></dt>
                <dd>
                    <span>{{answers.last_update_date}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.answers.last_updated_by">Last Updated By</span></dt>
                <dd>
                    <span>{{answers.last_updated_by}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.answers.question_id">Question Id</span></dt>
                <dd>
                    <div *ngIf="answers.question_idId">
                        <a [routerLink]="['/questions', answers.question_idId, 'view']">{{answers.question_idId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="examappApp.answers.studentid">Studentid</span></dt>
                <dd>
                    <div *ngIf="answers.studentidId">
                        <a [routerLink]="['/students', answers.studentidId, 'view']">{{answers.studentidId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/answers', answers.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
