<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-answers-heading" jhiTranslate="examappApp.answers.home.createOrEditLabel">Create or edit a Answers</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!answers.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="answers.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.answers.answer" for="field_answer">Answer</label>
                    <input type="text" class="form-control" name="answer" id="field_answer"
                        [(ngModel)]="answers.answer" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.answers.answered_date" for="field_answered_date">Answered Date</label>
                    <div class="input-group">
                        <input id="field_answered_date" type="text" class="form-control" name="answered_date" ngbDatepicker  #answered_dateDp="ngbDatepicker" [(ngModel)]="answers.answered_date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="answered_dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.answers.end_time" for="field_end_time">End Time</label>
                    <div class="input-group">
                        <input id="field_end_time" type="text" class="form-control" name="end_time" ngbDatepicker  #end_timeDp="ngbDatepicker" [(ngModel)]="answers.end_time"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="end_timeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.answers.start_time" for="field_start_time">Start Time</label>
                    <div class="input-group">
                        <input id="field_start_time" type="text" class="form-control" name="start_time" ngbDatepicker  #start_timeDp="ngbDatepicker" [(ngModel)]="answers.start_time"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="start_timeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.answers.creation_date" for="field_creation_date">Creation Date</label>
                    <div class="input-group">
                        <input id="field_creation_date" type="text" class="form-control" name="creation_date" ngbDatepicker  #creation_dateDp="ngbDatepicker" [(ngModel)]="answers.creation_date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creation_dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.answers.created_by" for="field_created_by">Created By</label>
                    <input type="text" class="form-control" name="created_by" id="field_created_by"
                        [(ngModel)]="answers.created_by" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.answers.last_update_date" for="field_last_update_date">Last Update Date</label>
                    <div class="input-group">
                        <input id="field_last_update_date" type="text" class="form-control" name="last_update_date" ngbDatepicker  #last_update_dateDp="ngbDatepicker" [(ngModel)]="answers.last_update_date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="last_update_dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.answers.last_updated_by" for="field_last_updated_by">Last Updated By</label>
                    <div class="input-group">
                        <input id="field_last_updated_by" type="text" class="form-control" name="last_updated_by" ngbDatepicker  #last_updated_byDp="ngbDatepicker" [(ngModel)]="answers.last_updated_by"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="last_updated_byDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.answers.question_id" for="field_question_id">Question Id</label>
                    <select class="form-control" id="field_question_id" name="question_id" [(ngModel)]="answers.question_idId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="questionsOption.id" *ngFor="let questionsOption of questions; trackBy: trackQuestionsById">{{questionsOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.answers.studentid" for="field_studentid">Studentid</label>
                    <select class="form-control" id="field_studentid" name="studentid" [(ngModel)]="answers.studentidId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="studentsOption.id" *ngFor="let studentsOption of students; trackBy: trackStudentsById">{{studentsOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
