<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="exam_paper">
            <h2><span jhiTranslate="examappApp.exam_paper.detail.title">Exam Paper</span> {{exam_paper.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="examappApp.exam_paper.name">Name</span></dt>
                <dd>
                    <span>{{exam_paper.name}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.exam_paper.creation_date">Creation Date</span></dt>
                <dd>
                    <span>{{exam_paper.creation_date}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.exam_paper.created_by">Created By</span></dt>
                <dd>
                    <span>{{exam_paper.created_by}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.exam_paper.last_update_date">Last Update Date</span></dt>
                <dd>
                    <span>{{exam_paper.last_update_date}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.exam_paper.last_updated_by">Last Updated By</span></dt>
                <dd>
                    <span>{{exam_paper.last_updated_by}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.exam_paper.collegeid">Collegeid</span></dt>
                <dd>
                    <div *ngIf="exam_paper.collegeidId">
                        <a [routerLink]="['/colleges', exam_paper.collegeidId, 'view']">{{exam_paper.collegeidId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="examappApp.exam_paper.questionid">Questionid</span></dt>
                <dd>
                    <div *ngIf="exam_paper.questionidId">
                        <a [routerLink]="['/questions', exam_paper.questionidId, 'view']">{{exam_paper.questionidId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/exam-paper', exam_paper.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
