<div>
    <h2 id="page-heading">
        <span jhiTranslate="examappApp.exam_paper.home.title">Exam Papers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-exam-paper" [routerLink]="['/exam-paper/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="examappApp.exam_paper.home.createLabel">
            Create new Exam Paper
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="exam_papers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="examappApp.exam_paper.name">Name</span></th>
            <th><span jhiTranslate="examappApp.exam_paper.creation_date">Creation Date</span></th>
            <th><span jhiTranslate="examappApp.exam_paper.created_by">Created By</span></th>
            <th><span jhiTranslate="examappApp.exam_paper.last_update_date">Last Update Date</span></th>
            <th><span jhiTranslate="examappApp.exam_paper.last_updated_by">Last Updated By</span></th>
            <th><span jhiTranslate="examappApp.exam_paper.collegeid">Collegeid</span></th>
            <th><span jhiTranslate="examappApp.exam_paper.questionid">Questionid</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let exam_paper of exam_papers ;trackBy: trackId">
                <td><a [routerLink]="['/exam-paper', exam_paper.id, 'view' ]">{{exam_paper.id}}</a></td>
                <td>{{exam_paper.name}}</td>
                <td>{{exam_paper.creation_date | date:'mediumDate'}}</td>
                <td>{{exam_paper.created_by}}</td>
                <td>{{exam_paper.last_update_date | date:'mediumDate'}}</td>
                <td>{{exam_paper.last_updated_by}}</td>
                <td>
                    <div *ngIf="exam_paper.collegeidId">
                        <a [routerLink]="['../colleges', exam_paper.collegeidId , 'view' ]" >{{exam_paper.collegeidId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="exam_paper.questionidId">
                        <a [routerLink]="['../questions', exam_paper.questionidId , 'view' ]" >{{exam_paper.questionidId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/exam-paper', exam_paper.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/exam-paper', exam_paper.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'exam-paper', { outlets: { popup: exam_paper.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
