<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-exam-paper-heading" jhiTranslate="examappApp.exam_paper.home.createOrEditLabel">Create or edit a Exam Paper</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!exam_paper.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="exam_paper.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.exam_paper.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="exam_paper.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.exam_paper.creation_date" for="field_creation_date">Creation Date</label>
                    <div class="input-group">
                        <input id="field_creation_date" type="text" class="form-control" name="creation_date" ngbDatepicker  #creation_dateDp="ngbDatepicker" [(ngModel)]="exam_paper.creation_date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creation_dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.exam_paper.created_by" for="field_created_by">Created By</label>
                    <input type="text" class="form-control" name="created_by" id="field_created_by"
                        [(ngModel)]="exam_paper.created_by" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.exam_paper.last_update_date" for="field_last_update_date">Last Update Date</label>
                    <div class="input-group">
                        <input id="field_last_update_date" type="text" class="form-control" name="last_update_date" ngbDatepicker  #last_update_dateDp="ngbDatepicker" [(ngModel)]="exam_paper.last_update_date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="last_update_dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.exam_paper.last_updated_by" for="field_last_updated_by">Last Updated By</label>
                    <input type="text" class="form-control" name="last_updated_by" id="field_last_updated_by"
                        [(ngModel)]="exam_paper.last_updated_by" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.exam_paper.collegeid" for="field_collegeid">Collegeid</label>
                    <select class="form-control" id="field_collegeid" name="collegeid" [(ngModel)]="exam_paper.collegeidId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="collegesOption.id" *ngFor="let collegesOption of colleges; trackBy: trackCollegesById">{{collegesOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.exam_paper.questionid" for="field_questionid">Questionid</label>
                    <select class="form-control" id="field_questionid" name="questionid" [(ngModel)]="exam_paper.questionidId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="questionsOption.id" *ngFor="let questionsOption of questions; trackBy: trackQuestionsById">{{questionsOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
