<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="questions">
            <h2><span jhiTranslate="examappApp.questions.detail.title">Questions</span> {{questions.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="examappApp.questions.question_name">Question Name</span></dt>
                <dd>
                    <span>{{questions.question_name}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.questions.answer">Answer</span></dt>
                <dd>
                    <span>{{questions.answer}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.questions.option1">Option 1</span></dt>
                <dd>
                    <span>{{questions.option1}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.questions.option2">Option 2</span></dt>
                <dd>
                    <span>{{questions.option2}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.questions.option3">Option 3</span></dt>
                <dd>
                    <span>{{questions.option3}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.questions.option4">Option 4</span></dt>
                <dd>
                    <span>{{questions.option4}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.questions.status">Status</span></dt>
                <dd>
                    <span>{{questions.status}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.questions.creation_date">Creation Date</span></dt>
                <dd>
                    <span>{{questions.creation_date}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.questions.created_by">Created By</span></dt>
                <dd>
                    <span>{{questions.created_by}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.questions.last_update_date">Last Update Date</span></dt>
                <dd>
                    <span>{{questions.last_update_date}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.questions.last_updated_by">Last Updated By</span></dt>
                <dd>
                    <span>{{questions.last_updated_by}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.questions.questiontypeid">Questiontypeid</span></dt>
                <dd>
                    <div *ngIf="questions.questiontypeidId">
                        <a [routerLink]="['/question-types', questions.questiontypeidId, 'view']">{{questions.questiontypeidId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/questions', questions.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
