<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-questions-heading" jhiTranslate="examappApp.questions.home.createOrEditLabel">Create or edit a Questions</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!questions.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="questions.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.questions.question_name" for="field_question_name">Question Name</label>
                    <input type="text" class="form-control" name="question_name" id="field_question_name"
                        [(ngModel)]="questions.question_name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.questions.answer" for="field_answer">Answer</label>
                    <input type="text" class="form-control" name="answer" id="field_answer"
                        [(ngModel)]="questions.answer" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.questions.option1" for="field_option1">Option 1</label>
                    <input type="text" class="form-control" name="option1" id="field_option1"
                        [(ngModel)]="questions.option1" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.questions.option2" for="field_option2">Option 2</label>
                    <input type="text" class="form-control" name="option2" id="field_option2"
                        [(ngModel)]="questions.option2" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.questions.option3" for="field_option3">Option 3</label>
                    <input type="text" class="form-control" name="option3" id="field_option3"
                        [(ngModel)]="questions.option3" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.questions.option4" for="field_option4">Option 4</label>
                    <input type="text" class="form-control" name="option4" id="field_option4"
                        [(ngModel)]="questions.option4" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.questions.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                        [(ngModel)]="questions.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.questions.creation_date" for="field_creation_date">Creation Date</label>
                    <div class="input-group">
                        <input id="field_creation_date" type="text" class="form-control" name="creation_date" ngbDatepicker  #creation_dateDp="ngbDatepicker" [(ngModel)]="questions.creation_date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creation_dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.questions.created_by" for="field_created_by">Created By</label>
                    <input type="text" class="form-control" name="created_by" id="field_created_by"
                        [(ngModel)]="questions.created_by" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.questions.last_update_date" for="field_last_update_date">Last Update Date</label>
                    <div class="input-group">
                        <input id="field_last_update_date" type="text" class="form-control" name="last_update_date" ngbDatepicker  #last_update_dateDp="ngbDatepicker" [(ngModel)]="questions.last_update_date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="last_update_dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.questions.last_updated_by" for="field_last_updated_by">Last Updated By</label>
                    <input type="text" class="form-control" name="last_updated_by" id="field_last_updated_by"
                        [(ngModel)]="questions.last_updated_by" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.questions.questiontypeid" for="field_questiontypeid">Questiontypeid</label>
                    <select class="form-control" id="field_questiontypeid" name="questiontypeid" [(ngModel)]="questions.questiontypeidId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="question_typesOption.id" *ngFor="let question_typesOption of question_types; trackBy: trackQuestion_typesById">{{question_typesOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
