<div>
    <h2 id="page-heading">
        <span jhiTranslate="examappApp.questions.home.title">Questions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-questions" [routerLink]="['/questions/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="examappApp.questions.home.createLabel">
            Create new Questions
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="questions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="examappApp.questions.question_name">Question Name</span></th>
            <th><span jhiTranslate="examappApp.questions.answer">Answer</span></th>
            <th><span jhiTranslate="examappApp.questions.option1">Option 1</span></th>
            <th><span jhiTranslate="examappApp.questions.option2">Option 2</span></th>
            <th><span jhiTranslate="examappApp.questions.option3">Option 3</span></th>
            <th><span jhiTranslate="examappApp.questions.option4">Option 4</span></th>
            <th><span jhiTranslate="examappApp.questions.status">Status</span></th>
            <th><span jhiTranslate="examappApp.questions.creation_date">Creation Date</span></th>
            <th><span jhiTranslate="examappApp.questions.created_by">Created By</span></th>
            <th><span jhiTranslate="examappApp.questions.last_update_date">Last Update Date</span></th>
            <th><span jhiTranslate="examappApp.questions.last_updated_by">Last Updated By</span></th>
            <th><span jhiTranslate="examappApp.questions.questiontypeid">Questiontypeid</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let questions of questions ;trackBy: trackId">
                <td><a [routerLink]="['/questions', questions.id, 'view' ]">{{questions.id}}</a></td>
                <td>{{questions.question_name}}</td>
                <td>{{questions.answer}}</td>
                <td>{{questions.option1}}</td>
                <td>{{questions.option2}}</td>
                <td>{{questions.option3}}</td>
                <td>{{questions.option4}}</td>
                <td>{{questions.status}}</td>
                <td>{{questions.creation_date | date:'mediumDate'}}</td>
                <td>{{questions.created_by}}</td>
                <td>{{questions.last_update_date | date:'mediumDate'}}</td>
                <td>{{questions.last_updated_by}}</td>
                <td>
                    <div *ngIf="questions.questiontypeidId">
                        <a [routerLink]="['../question-types', questions.questiontypeidId , 'view' ]" >{{questions.questiontypeidId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/questions', questions.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/questions', questions.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'questions', { outlets: { popup: questions.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
