<div>
    <h2 id="page-heading">
        <span jhiTranslate="examappApp.students.home.title">Students</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-students" [routerLink]="['/students/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="examappApp.students.home.createLabel">
            Create new Students
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="students">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="examappApp.students.student_name">Student Name</span></th>
            <th><span jhiTranslate="examappApp.students.mobile">Mobile</span></th>
            <th><span jhiTranslate="examappApp.students.email">Email</span></th>
            <th><span jhiTranslate="examappApp.students.studying_year">Studying Year</span></th>
            <th><span jhiTranslate="examappApp.students.status">Status</span></th>
            <th><span jhiTranslate="examappApp.students.creation_date">Creation Date</span></th>
            <th><span jhiTranslate="examappApp.students.created_by">Created By</span></th>
            <th><span jhiTranslate="examappApp.students.last_update_date">Last Update Date</span></th>
            <th><span jhiTranslate="examappApp.students.last_updated_by">Last Updated By</span></th>
            <th><span jhiTranslate="examappApp.students.department">Department</span></th>
            <th><span jhiTranslate="examappApp.students.emcetecet_rank">Emcetecet Rank</span></th>
            <th><span jhiTranslate="examappApp.students.current_CGPA">Current CGPA</span></th>
            <th><span jhiTranslate="examappApp.students.fathers_occupation">Fathers Occupation</span></th>
            <th><span jhiTranslate="examappApp.students.mothers_occupation">Mothers Occupation</span></th>
            <th><span jhiTranslate="examappApp.students.siblings">Siblings</span></th>
            <th><span jhiTranslate="examappApp.students.family_income">Family Income</span></th>
            <th><span jhiTranslate="examappApp.students.native_place">Native Place</span></th>
            <th><span jhiTranslate="examappApp.students.languages_known">Languages Known</span></th>
            <th><span jhiTranslate="examappApp.students.collegeid">Collegeid</span></th>
            <th><span jhiTranslate="examappApp.students.departmentid">Departmentid</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let students of students ;trackBy: trackId">
                <td><a [routerLink]="['/students', students.id, 'view' ]">{{students.id}}</a></td>
                <td>{{students.student_name}}</td>
                <td>{{students.mobile}}</td>
                <td>{{students.email}}</td>
                <td>{{students.studying_year}}</td>
                <td>{{students.status}}</td>
                <td>{{students.creation_date | date:'mediumDate'}}</td>
                <td>{{students.created_by}}</td>
                <td>{{students.last_update_date | date:'mediumDate'}}</td>
                <td>{{students.last_updated_by}}</td>
                <td>{{students.department}}</td>
                <td>{{students.emcetecet_rank}}</td>
                <td>{{students.current_CGPA}}</td>
                <td>{{students.fathers_occupation}}</td>
                <td>{{students.mothers_occupation}}</td>
                <td>{{students.siblings}}</td>
                <td>{{students.family_income}}</td>
                <td>{{students.native_place}}</td>
                <td>{{students.languages_known}}</td>
                <td>
                    <div *ngIf="students.collegeidId">
                        <a [routerLink]="['../colleges', students.collegeidId , 'view' ]" >{{students.collegeidId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="students.departmentidId">
                        <a [routerLink]="['../departments', students.departmentidId , 'view' ]" >{{students.departmentidId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/students', students.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/students', students.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'students', { outlets: { popup: students.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
