<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-students-heading" jhiTranslate="examappApp.students.home.createOrEditLabel">Create or edit a Students</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!students.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="students.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.student_name" for="field_student_name">Student Name</label>
                    <input type="text" class="form-control" name="student_name" id="field_student_name"
                        [(ngModel)]="students.student_name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.mobile" for="field_mobile">Mobile</label>
                    <input type="number" class="form-control" name="mobile" id="field_mobile"
                        [(ngModel)]="students.mobile" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="students.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.studying_year" for="field_studying_year">Studying Year</label>
                    <input type="text" class="form-control" name="studying_year" id="field_studying_year"
                        [(ngModel)]="students.studying_year" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                        [(ngModel)]="students.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.creation_date" for="field_creation_date">Creation Date</label>
                    <div class="input-group">
                        <input id="field_creation_date" type="text" class="form-control" name="creation_date" ngbDatepicker  #creation_dateDp="ngbDatepicker" [(ngModel)]="students.creation_date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creation_dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.created_by" for="field_created_by">Created By</label>
                    <input type="text" class="form-control" name="created_by" id="field_created_by"
                        [(ngModel)]="students.created_by" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.last_update_date" for="field_last_update_date">Last Update Date</label>
                    <div class="input-group">
                        <input id="field_last_update_date" type="text" class="form-control" name="last_update_date" ngbDatepicker  #last_update_dateDp="ngbDatepicker" [(ngModel)]="students.last_update_date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="last_update_dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.last_updated_by" for="field_last_updated_by">Last Updated By</label>
                    <input type="text" class="form-control" name="last_updated_by" id="field_last_updated_by"
                        [(ngModel)]="students.last_updated_by" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.department" for="field_department">Department</label>
                    <input type="text" class="form-control" name="department" id="field_department"
                        [(ngModel)]="students.department" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.emcetecet_rank" for="field_emcetecet_rank">Emcetecet Rank</label>
                    <input type="number" class="form-control" name="emcetecet_rank" id="field_emcetecet_rank"
                        [(ngModel)]="students.emcetecet_rank" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.current_CGPA" for="field_current_CGPA">Current CGPA</label>
                    <input type="number" class="form-control" name="current_CGPA" id="field_current_CGPA"
                        [(ngModel)]="students.current_CGPA" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.fathers_occupation" for="field_fathers_occupation">Fathers Occupation</label>
                    <input type="text" class="form-control" name="fathers_occupation" id="field_fathers_occupation"
                        [(ngModel)]="students.fathers_occupation" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.mothers_occupation" for="field_mothers_occupation">Mothers Occupation</label>
                    <input type="text" class="form-control" name="mothers_occupation" id="field_mothers_occupation"
                        [(ngModel)]="students.mothers_occupation" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.siblings" for="field_siblings">Siblings</label>
                    <input type="number" class="form-control" name="siblings" id="field_siblings"
                        [(ngModel)]="students.siblings" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.family_income" for="field_family_income">Family Income</label>
                    <input type="text" class="form-control" name="family_income" id="field_family_income"
                        [(ngModel)]="students.family_income" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.native_place" for="field_native_place">Native Place</label>
                    <input type="text" class="form-control" name="native_place" id="field_native_place"
                        [(ngModel)]="students.native_place" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.languages_known" for="field_languages_known">Languages Known</label>
                    <input type="text" class="form-control" name="languages_known" id="field_languages_known"
                        [(ngModel)]="students.languages_known" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.collegeid" for="field_collegeid">Collegeid</label>
                    <select class="form-control" id="field_collegeid" name="collegeid" [(ngModel)]="students.collegeidId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="collegesOption.id" *ngFor="let collegesOption of colleges; trackBy: trackCollegesById">{{collegesOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.students.departmentid" for="field_departmentid">Departmentid</label>
                    <select class="form-control" id="field_departmentid" name="departmentid" [(ngModel)]="students.departmentidId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departmentsOption.id" *ngFor="let departmentsOption of departments; trackBy: trackDepartmentsById">{{departmentsOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
