<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="students">
            <h2><span jhiTranslate="examappApp.students.detail.title">Students</span> {{students.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="examappApp.students.student_name">Student Name</span></dt>
                <dd>
                    <span>{{students.student_name}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.mobile">Mobile</span></dt>
                <dd>
                    <span>{{students.mobile}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.email">Email</span></dt>
                <dd>
                    <span>{{students.email}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.studying_year">Studying Year</span></dt>
                <dd>
                    <span>{{students.studying_year}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.status">Status</span></dt>
                <dd>
                    <span>{{students.status}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.creation_date">Creation Date</span></dt>
                <dd>
                    <span>{{students.creation_date}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.created_by">Created By</span></dt>
                <dd>
                    <span>{{students.created_by}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.last_update_date">Last Update Date</span></dt>
                <dd>
                    <span>{{students.last_update_date}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.last_updated_by">Last Updated By</span></dt>
                <dd>
                    <span>{{students.last_updated_by}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.department">Department</span></dt>
                <dd>
                    <span>{{students.department}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.emcetecet_rank">Emcetecet Rank</span></dt>
                <dd>
                    <span>{{students.emcetecet_rank}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.current_CGPA">Current CGPA</span></dt>
                <dd>
                    <span>{{students.current_CGPA}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.fathers_occupation">Fathers Occupation</span></dt>
                <dd>
                    <span>{{students.fathers_occupation}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.mothers_occupation">Mothers Occupation</span></dt>
                <dd>
                    <span>{{students.mothers_occupation}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.siblings">Siblings</span></dt>
                <dd>
                    <span>{{students.siblings}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.family_income">Family Income</span></dt>
                <dd>
                    <span>{{students.family_income}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.native_place">Native Place</span></dt>
                <dd>
                    <span>{{students.native_place}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.languages_known">Languages Known</span></dt>
                <dd>
                    <span>{{students.languages_known}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.students.collegeid">Collegeid</span></dt>
                <dd>
                    <div *ngIf="students.collegeidId">
                        <a [routerLink]="['/colleges', students.collegeidId, 'view']">{{students.collegeidId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="examappApp.students.departmentid">Departmentid</span></dt>
                <dd>
                    <div *ngIf="students.departmentidId">
                        <a [routerLink]="['/departments', students.departmentidId, 'view']">{{students.departmentidId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/students', students.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
