<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-colleges-heading" jhiTranslate="examappApp.colleges.home.createOrEditLabel">Create or edit a Colleges</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!colleges.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="colleges.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.colleges.college_name" for="field_college_name">College Name</label>
                    <input type="text" class="form-control" name="college_name" id="field_college_name"
                        [(ngModel)]="colleges.college_name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.colleges.college_code" for="field_college_code">College Code</label>
                    <input type="text" class="form-control" name="college_code" id="field_college_code"
                        [(ngModel)]="colleges.college_code" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.colleges.affiliated_university" for="field_affiliated_university">Affiliated University</label>
                    <input type="text" class="form-control" name="affiliated_university" id="field_affiliated_university"
                        [(ngModel)]="colleges.affiliated_university" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.colleges.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="colleges.address" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.colleges.address2" for="field_address2">Address 2</label>
                    <input type="text" class="form-control" name="address2" id="field_address2"
                        [(ngModel)]="colleges.address2" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.colleges.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                        [(ngModel)]="colleges.city" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.colleges.state" for="field_state">State</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                        [(ngModel)]="colleges.state" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.colleges.country" for="field_country">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country"
                        [(ngModel)]="colleges.country" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.colleges.zip_code" for="field_zip_code">Zip Code</label>
                    <input type="text" class="form-control" name="zip_code" id="field_zip_code"
                        [(ngModel)]="colleges.zip_code" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.colleges.contact_number" for="field_contact_number">Contact Number</label>
                    <input type="number" class="form-control" name="contact_number" id="field_contact_number"
                        [(ngModel)]="colleges.contact_number" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.colleges.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="colleges.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.colleges.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                        [(ngModel)]="colleges.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.colleges.creation_date" for="field_creation_date">Creation Date</label>
                    <div class="input-group">
                        <input id="field_creation_date" type="text" class="form-control" name="creation_date" ngbDatepicker  #creation_dateDp="ngbDatepicker" [(ngModel)]="colleges.creation_date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creation_dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.colleges.created_by" for="field_created_by">Created By</label>
                    <input type="text" class="form-control" name="created_by" id="field_created_by"
                        [(ngModel)]="colleges.created_by" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.colleges.last_update_date" for="field_last_update_date">Last Update Date</label>
                    <div class="input-group">
                        <input id="field_last_update_date" type="text" class="form-control" name="last_update_date" ngbDatepicker  #last_update_dateDp="ngbDatepicker" [(ngModel)]="colleges.last_update_date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="last_update_dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.colleges.last_update_by" for="field_last_update_by">Last Update By</label>
                    <input type="text" class="form-control" name="last_update_by" id="field_last_update_by"
                        [(ngModel)]="colleges.last_update_by" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
