<div>
    <h2 id="page-heading">
        <span jhiTranslate="examappApp.colleges.home.title">Colleges</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-colleges" [routerLink]="['/colleges/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="examappApp.colleges.home.createLabel">
            Create new Colleges
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="colleges">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="examappApp.colleges.college_name">College Name</span></th>
            <th><span jhiTranslate="examappApp.colleges.college_code">College Code</span></th>
            <th><span jhiTranslate="examappApp.colleges.affiliated_university">Affiliated University</span></th>
            <th><span jhiTranslate="examappApp.colleges.address">Address</span></th>
            <th><span jhiTranslate="examappApp.colleges.address2">Address 2</span></th>
            <th><span jhiTranslate="examappApp.colleges.city">City</span></th>
            <th><span jhiTranslate="examappApp.colleges.state">State</span></th>
            <th><span jhiTranslate="examappApp.colleges.country">Country</span></th>
            <th><span jhiTranslate="examappApp.colleges.zip_code">Zip Code</span></th>
            <th><span jhiTranslate="examappApp.colleges.contact_number">Contact Number</span></th>
            <th><span jhiTranslate="examappApp.colleges.email">Email</span></th>
            <th><span jhiTranslate="examappApp.colleges.status">Status</span></th>
            <th><span jhiTranslate="examappApp.colleges.creation_date">Creation Date</span></th>
            <th><span jhiTranslate="examappApp.colleges.created_by">Created By</span></th>
            <th><span jhiTranslate="examappApp.colleges.last_update_date">Last Update Date</span></th>
            <th><span jhiTranslate="examappApp.colleges.last_update_by">Last Update By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let colleges of colleges ;trackBy: trackId">
                <td><a [routerLink]="['/colleges', colleges.id, 'view' ]">{{colleges.id}}</a></td>
                <td>{{colleges.college_name}}</td>
                <td>{{colleges.college_code}}</td>
                <td>{{colleges.affiliated_university}}</td>
                <td>{{colleges.address}}</td>
                <td>{{colleges.address2}}</td>
                <td>{{colleges.city}}</td>
                <td>{{colleges.state}}</td>
                <td>{{colleges.country}}</td>
                <td>{{colleges.zip_code}}</td>
                <td>{{colleges.contact_number}}</td>
                <td>{{colleges.email}}</td>
                <td>{{colleges.status}}</td>
                <td>{{colleges.creation_date | date:'mediumDate'}}</td>
                <td>{{colleges.created_by}}</td>
                <td>{{colleges.last_update_date | date:'mediumDate'}}</td>
                <td>{{colleges.last_update_by}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/colleges', colleges.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/colleges', colleges.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'colleges', { outlets: { popup: colleges.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
