<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="colleges">
            <h2><span jhiTranslate="examappApp.colleges.detail.title">Colleges</span> {{colleges.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="examappApp.colleges.college_name">College Name</span></dt>
                <dd>
                    <span>{{colleges.college_name}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.colleges.college_code">College Code</span></dt>
                <dd>
                    <span>{{colleges.college_code}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.colleges.affiliated_university">Affiliated University</span></dt>
                <dd>
                    <span>{{colleges.affiliated_university}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.colleges.address">Address</span></dt>
                <dd>
                    <span>{{colleges.address}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.colleges.address2">Address 2</span></dt>
                <dd>
                    <span>{{colleges.address2}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.colleges.city">City</span></dt>
                <dd>
                    <span>{{colleges.city}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.colleges.state">State</span></dt>
                <dd>
                    <span>{{colleges.state}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.colleges.country">Country</span></dt>
                <dd>
                    <span>{{colleges.country}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.colleges.zip_code">Zip Code</span></dt>
                <dd>
                    <span>{{colleges.zip_code}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.colleges.contact_number">Contact Number</span></dt>
                <dd>
                    <span>{{colleges.contact_number}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.colleges.email">Email</span></dt>
                <dd>
                    <span>{{colleges.email}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.colleges.status">Status</span></dt>
                <dd>
                    <span>{{colleges.status}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.colleges.creation_date">Creation Date</span></dt>
                <dd>
                    <span>{{colleges.creation_date}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.colleges.created_by">Created By</span></dt>
                <dd>
                    <span>{{colleges.created_by}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.colleges.last_update_date">Last Update Date</span></dt>
                <dd>
                    <span>{{colleges.last_update_date}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.colleges.last_update_by">Last Update By</span></dt>
                <dd>
                    <span>{{colleges.last_update_by}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/colleges', colleges.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
