<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-contacts-heading" jhiTranslate="examappApp.contacts.home.createOrEditLabel">Create or edit a Contacts</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!contacts.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="contacts.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.contacts.contact_name" for="field_contact_name">Contact Name</label>
                    <input type="text" class="form-control" name="contact_name" id="field_contact_name"
                        [(ngModel)]="contacts.contact_name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.contacts.mobile" for="field_mobile">Mobile</label>
                    <input type="number" class="form-control" name="mobile" id="field_mobile"
                        [(ngModel)]="contacts.mobile" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.contacts.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="contacts.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.contacts.designation" for="field_designation">Designation</label>
                    <input type="text" class="form-control" name="designation" id="field_designation"
                        [(ngModel)]="contacts.designation" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.contacts.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                        [(ngModel)]="contacts.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.contacts.creation_date" for="field_creation_date">Creation Date</label>
                    <div class="input-group">
                        <input id="field_creation_date" type="text" class="form-control" name="creation_date" ngbDatepicker  #creation_dateDp="ngbDatepicker" [(ngModel)]="contacts.creation_date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creation_dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.contacts.created_by" for="field_created_by">Created By</label>
                    <input type="text" class="form-control" name="created_by" id="field_created_by"
                        [(ngModel)]="contacts.created_by" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.contacts.last_update_date" for="field_last_update_date">Last Update Date</label>
                    <div class="input-group">
                        <input id="field_last_update_date" type="text" class="form-control" name="last_update_date" ngbDatepicker  #last_update_dateDp="ngbDatepicker" [(ngModel)]="contacts.last_update_date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="last_update_dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.contacts.last_updated_by" for="field_last_updated_by">Last Updated By</label>
                    <input type="text" class="form-control" name="last_updated_by" id="field_last_updated_by"
                        [(ngModel)]="contacts.last_updated_by" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.contacts.collegeid" for="field_collegeid">Collegeid</label>
                    <select class="form-control" id="field_collegeid" name="collegeid" [(ngModel)]="contacts.collegeidId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="collegesOption.id" *ngFor="let collegesOption of colleges; trackBy: trackCollegesById">{{collegesOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examappApp.contacts.departmentid" for="field_departmentid">Departmentid</label>
                    <select class="form-control" id="field_departmentid" name="departmentid" [(ngModel)]="contacts.departmentidId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departmentsOption.id" *ngFor="let departmentsOption of departments; trackBy: trackDepartmentsById">{{departmentsOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
