<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contacts">
            <h2><span jhiTranslate="examappApp.contacts.detail.title">Contacts</span> {{contacts.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="examappApp.contacts.contact_name">Contact Name</span></dt>
                <dd>
                    <span>{{contacts.contact_name}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.contacts.mobile">Mobile</span></dt>
                <dd>
                    <span>{{contacts.mobile}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.contacts.email">Email</span></dt>
                <dd>
                    <span>{{contacts.email}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.contacts.designation">Designation</span></dt>
                <dd>
                    <span>{{contacts.designation}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.contacts.status">Status</span></dt>
                <dd>
                    <span>{{contacts.status}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.contacts.creation_date">Creation Date</span></dt>
                <dd>
                    <span>{{contacts.creation_date}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.contacts.created_by">Created By</span></dt>
                <dd>
                    <span>{{contacts.created_by}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.contacts.last_update_date">Last Update Date</span></dt>
                <dd>
                    <span>{{contacts.last_update_date}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.contacts.last_updated_by">Last Updated By</span></dt>
                <dd>
                    <span>{{contacts.last_updated_by}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.contacts.collegeid">Collegeid</span></dt>
                <dd>
                    <div *ngIf="contacts.collegeidId">
                        <a [routerLink]="['/colleges', contacts.collegeidId, 'view']">{{contacts.collegeidId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="examappApp.contacts.departmentid">Departmentid</span></dt>
                <dd>
                    <div *ngIf="contacts.departmentidId">
                        <a [routerLink]="['/departments', contacts.departmentidId, 'view']">{{contacts.departmentidId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contacts', contacts.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
