<div>
    <h2 id="page-heading">
        <span jhiTranslate="examappApp.contacts.home.title">Contacts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contacts" [routerLink]="['/contacts/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="examappApp.contacts.home.createLabel">
            Create new Contacts
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="contacts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="examappApp.contacts.contact_name">Contact Name</span></th>
            <th><span jhiTranslate="examappApp.contacts.mobile">Mobile</span></th>
            <th><span jhiTranslate="examappApp.contacts.email">Email</span></th>
            <th><span jhiTranslate="examappApp.contacts.designation">Designation</span></th>
            <th><span jhiTranslate="examappApp.contacts.status">Status</span></th>
            <th><span jhiTranslate="examappApp.contacts.creation_date">Creation Date</span></th>
            <th><span jhiTranslate="examappApp.contacts.created_by">Created By</span></th>
            <th><span jhiTranslate="examappApp.contacts.last_update_date">Last Update Date</span></th>
            <th><span jhiTranslate="examappApp.contacts.last_updated_by">Last Updated By</span></th>
            <th><span jhiTranslate="examappApp.contacts.collegeid">Collegeid</span></th>
            <th><span jhiTranslate="examappApp.contacts.departmentid">Departmentid</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contacts of contacts ;trackBy: trackId">
                <td><a [routerLink]="['/contacts', contacts.id, 'view' ]">{{contacts.id}}</a></td>
                <td>{{contacts.contact_name}}</td>
                <td>{{contacts.mobile}}</td>
                <td>{{contacts.email}}</td>
                <td>{{contacts.designation}}</td>
                <td>{{contacts.status}}</td>
                <td>{{contacts.creation_date | date:'mediumDate'}}</td>
                <td>{{contacts.created_by}}</td>
                <td>{{contacts.last_update_date | date:'mediumDate'}}</td>
                <td>{{contacts.last_updated_by}}</td>
                <td>
                    <div *ngIf="contacts.collegeidId">
                        <a [routerLink]="['../colleges', contacts.collegeidId , 'view' ]" >{{contacts.collegeidId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="contacts.departmentidId">
                        <a [routerLink]="['../departments', contacts.departmentidId , 'view' ]" >{{contacts.departmentidId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/contacts', contacts.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/contacts', contacts.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'contacts', { outlets: { popup: contacts.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
