<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="departments">
            <h2><span jhiTranslate="examappApp.departments.detail.title">Departments</span> {{departments.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="examappApp.departments.department_name">Department Name</span></dt>
                <dd>
                    <span>{{departments.department_name}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.departments.department_code">Department Code</span></dt>
                <dd>
                    <span>{{departments.department_code}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.departments.status">Status</span></dt>
                <dd>
                    <span>{{departments.status}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.departments.creation_date">Creation Date</span></dt>
                <dd>
                    <span>{{departments.creation_date}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.departments.created_by">Created By</span></dt>
                <dd>
                    <span>{{departments.created_by}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.departments.last_update_date">Last Update Date</span></dt>
                <dd>
                    <span>{{departments.last_update_date}}</span>
                </dd>
                <dt><span jhiTranslate="examappApp.departments.last_updated_by">Last Updated By</span></dt>
                <dd>
                    <span>{{departments.last_updated_by}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/departments', departments.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
