<div>
    <h2 id="page-heading">
        <span jhiTranslate="examappApp.departments.home.title">Departments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-departments" [routerLink]="['/departments/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="examappApp.departments.home.createLabel">
            Create new Departments
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="departments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="examappApp.departments.department_name">Department Name</span></th>
            <th><span jhiTranslate="examappApp.departments.department_code">Department Code</span></th>
            <th><span jhiTranslate="examappApp.departments.status">Status</span></th>
            <th><span jhiTranslate="examappApp.departments.creation_date">Creation Date</span></th>
            <th><span jhiTranslate="examappApp.departments.created_by">Created By</span></th>
            <th><span jhiTranslate="examappApp.departments.last_update_date">Last Update Date</span></th>
            <th><span jhiTranslate="examappApp.departments.last_updated_by">Last Updated By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let departments of departments ;trackBy: trackId">
                <td><a [routerLink]="['/departments', departments.id, 'view' ]">{{departments.id}}</a></td>
                <td>{{departments.department_name}}</td>
                <td>{{departments.department_code}}</td>
                <td>{{departments.status}}</td>
                <td>{{departments.creation_date | date:'mediumDate'}}</td>
                <td>{{departments.created_by}}</td>
                <td>{{departments.last_update_date | date:'mediumDate'}}</td>
                <td>{{departments.last_updated_by}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/departments', departments.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/departments', departments.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'departments', { outlets: { popup: departments.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
